// 使用 wg 前缀
.wg {
  &-interactive {
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-hidden {
    display: none;
  }

  &-fullscreen-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000; // 确保遮罩层位于页面内容之上
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.7); // 半透明黑色背景
  }

  &-fullscreen-image {
    z-index: 1001; // 确保图片位于遮罩层之上
    display: block; /* 确保图片不会被压缩或拉伸 */
    width: auto; /* 自动调整宽度以保持比例 */
    max-width: 90vw; /* 限制图片最大宽度，避免超出视口 */
    height: auto; /* 自动调整高度以保持比例 */
    max-height: 90vh; /* 限制图片最大高度，避免超出视口 */
    object-fit: contain; /* 保证内容被替换的内容缩放以适应容器的内容框，保持其宽高比 */
  }

  &-content-wrapper {
    position: relative;
    display: inline-flex; /* 让容器的大小根据内部元素（图片）的大小自动调整 */
    align-items: center;
    justify-content: center;
  }

  &-close-button {
    position: absolute;
    top: 0; /* 调整以确保按钮不会覆盖在图片上 */
    right: 0;
    z-index: 1002; /* 确保关闭按钮位于内容之上 */
    color: white;
    font-size: 30px;
    transform: translateX(200%);
    cursor: pointer;
  }
}
